.dashboard-container {
  max-width: 960px;
  margin: 0 auto;
}

.dashboard-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dashboard-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0;
}

.dashboard-rooms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.dashboard-room-card {
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 15%);
  padding: 1rem;
  border-radius: 0.25rem;
}

.dashboard-room-card__info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.dashboard-room-card__info {
  margin-bottom: 1rem;
}

.info-label {
  display: block;
  color: var(--color-default);
}

.info {
  display: block;
}

.info.color-item {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

.info.color {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-default);
  border-radius: 0.25rem;
}

.dashboard-room-card .button-box {
  margin: 0;
}

.dashboard-rooms-empty {
  margin-top: 7.5rem;
  text-align: center;
}

.dashboard-rooms-empty p {
  margin-bottom: 2rem;
}
