.room-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room {
  border: 1px solid black;
  transition: transform 0.3s ease;
}

.grid-row {
  display: flex;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.furniture-in-view {
  position: absolute;
  background-color: var(--color-default);
  cursor: pointer;
  color: white;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.furniture-in-view.selected {
  background-color: var(--color-primary);
  color: white;
  cursor: move;
}
