.room-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snap-line {
  position: absolute;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.snap-line-x {
  width: 1px;
  height: 120%;
}

.snap-line-y {
  height: 1px;
  width: 120%;
}

.ruler {
  position: absolute;
}

.ruler-line-item__dot {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 50%;
  transition: top 0.3s ease, left 0.3s ease;
}

.ruler-x {
  top: -3.25rem;
}

.ruler-line {
  background-color: var(--color-black);
  position: relative;
}

.ruler-x .ruler-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.ruler-x .ruler-line {
  width: 100%;
  height: 1px;
}

.ruler-x .ruler-line-item__dot {
  top: -0.25rem;
  transform: translateX(-50%);
}

.ruler-x .ruler-line-item__between {
  height: 3px;
  position: absolute;
  top: -1px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ruler-x .ruler-line-item__between > small {
  position: relative;
  top: 0.75rem;
  font-weight: bold;
  pointer-events: none;
}

.ruler-y {
  left: -3rem;
  display: flex;
}

.ruler-y .ruler-line-item__between {
  width: 3px;
  position: absolute;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.ruler-line-item__between {
  transition: opacity 0.3s ease, top 0.3s ease, left 0.3s ease, width 0.3s ease,
    height 0.3s ease;
}

.ruler-line-item {
  cursor: pointer;
  display: inline-block;
}

.ruler-line-item:focus,
.ruler-line-item:focus-visible {
  border-color: transparent;
}

.ruler-line-item.selected > *,
.ruler-line-item:hover > * {
  z-index: 10;
}

.ruler-line-item.selected > .ruler-line-item__between {
  opacity: 1;
}

.ruler-line-item:hover > .ruler-line-item__between {
  opacity: 1;
}

.ruler-line-item__between:hover {
  opacity: 1;
}

.ruler-y .ruler-line-item__between > small {
  position: relative;
  left: 0.75rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  pointer-events: none;
}

.ruler-y .ruler-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.25rem;
}

.ruler-y .ruler-numbers > small {
  writing-mode: vertical-rl;
}

.ruler-y .ruler-line {
  width: 1px;
  height: 100%;
}

.ruler-y .ruler-line-item__dot {
  left: -0.25rem;
  transform: translateY(-50%);
}

.room {
  border: 1px solid black;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  background-blend-mode: overlay;
}

.grid-row {
  display: flex;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 11;
}

.controls button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.controls-group {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 15%);
}

.controls-translate-buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 0.25rem;
}

.controls-translate-buttons button {
  background-color: white;
  border-color: transparent;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 15%);
}

.controls-button-group {
  display: flex;
  grid-gap: 0.125rem;
}

.controls-group > .controls-button-group {
  grid-gap: 0.5rem;
}

.clear-all-transforms-button {
  width: 100%;
}

.controls-translate-row {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.25rem;
}

.furniture-in-view {
  position: absolute;
  cursor: pointer;
  color: white;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0px;
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease,
    height 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  border-radius: 0.25rem;
  background-blend-mode: overlay;
}

.furniture-in-view.selected {
  box-shadow: 0px 0px 15px 5px var(--color-box-shadow);
}

.furniture-inner {
  padding: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.furniture-inner > small {
  text-align: center;
}

.furniture-item-controls__wrap {
  padding: 0.5rem;
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.furniture-item-controls__wrap.hidden {
  display: none;
}

.furniture-item-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.furniture-item-controls.column {
  flex-direction: column;
}

.furniture-in-view.selected {
  background-color: var(--color-primary);
  color: white;
  cursor: move;
}

.furniture-item-controls-group {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
}

.furniture-item-controls-group.column {
  flex-direction: column;
}

.message {
  position: absolute;
  top: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 15%);
  z-index: 15;
}

.message > .p-bold {
  margin-bottom: 0.25rem;
  color: var(--color-primary);
}

.message small {
  color: var(--color-default);
}
